*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #61b4e9;
}
.cont{
    height: 600px;
    width: 350px;
    background-color: rgb(237, 235, 242);
    
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 7rem;
   margin-left: 37rem;
}
.navbar{
    background-color: blue;
    height: 100px;
    width:350px;
    text-align: center;
    margin-bottom: 32rem;
}
.cont1 .CHAT APP{
    color: white;
    font-size: 40px;
    margin-top: 1.5rem;
}
.hey{
    color: blue;
}